*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}



.aboutFJ{
	display:flex;


}





.aboutI{
	display: flex;
	
}
.aboutP{
	display: flex;
	margin: 50px auto;
	margin-left: 30px;
	max-height: 30vh;
	float:left;
	
    
}

.forms button{
	width: 50%;
  height: 50px;
  
  margin-left:350px;
  margin-bottom: 100px;
	
    
}



@media screen and (max-width:700px) {
	.aboutFJ{
		flex-direction: column;
	}

	.forms button{
		margin-left:100px;
	}

	.aboutP{
		margin-bottom: 100px;
	}
}


